<!doctype html>
<html class="no-js" lang="">
    <head>
        <title>REEP</title>
        <%- include partials/styles.ejs %>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        
      <div class="container">
        
        <%- include partials/nav.ejs %>
        <%- include partials/footer.ejs %>
      
        <div class="right">
          <%- include partials/header.ejs %>
          
          
          <h1>Colors</h1>
          <div class="box bg-green">.bg-green</div>
          <div class="box bg-red">.bg-red</div>
          <div class="box bg-blue">.bg-blue</div>
          <div class="box bg-purple">.bg-purple</div>
          <div class="box bg-yellow">.bg-yellow</div>
          <div class="box bg-grey">.bg-grey</div>
          <div class="box bg-darkblue">.bg-darkblue</div>
          
          
          <h1>Input Field</h1>
          <input class="form-control" placeholder="Input Field"></input>
          
          
          <h1>Flex Table</h1>
          <div class="flextable">
            <div class="flexcolumn">
              <div class="flexhead flexitem">Bubbles</div>
              <div class=" flexitem">Things</div>
              <div class=" flexitem">Hooplah</div>
              <div class=" flexitem">Zoro</div>
              <div class=" flexitem">Downloads</div>
            </div>
            <div class="flexcolumn">
              <div class="flexhead flexitem">Title 2</div>
              <div class="flexitem">item 1</div>
              <div class="flexitem">item 1</div>
              <div class="flexitem">item 1</div>
              <div class="flexitem">item 1</div>
            </div>
            <div class="flexcolumn">
              <div class="flexhead flexitem">Title 3</div>
              <div class="flexitem">item 1</div>
              <div class="flexitem">item 1</div>
              <div class="flexitem">item 1</div>
              <div class="flexitem">item 1</div>
            </div>
            <div class="flexcolumn">
              <div class="flexitem flexhead">Title 4</div>
              <div class="flexitem">item 1</div>
              <div class="flexitem">item 2</div>
              <div class="flexitem">item 3</div>
              <div class="flexitem">item 4</div>
            </div>
          </div>
          
          
          <h1>Navigation</h1>
          <ul class="nav">
            <li class="head">HEADER</li>
            <li class="nav_item">Normal</li>
            <li class="nav_item inactive">Inactive</li>
            <li class="nav_item">About</li>
          </ul>
          
          <br>
          <p>This is a responsive layout built using flexbox.

        </div>
     
      </div>
              
              

        
    </body>
    <%- include partials/scripts.ejs %>
        
</html>
